name: immo1
description: Application immobilière Flutter

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.1.1
  carousel_slider: ^5.0.0  
  url_launcher: ^6.2.2
  flutter_secure_storage: ^9.0.0
  shared_preferences: ^2.2.2
  image_picker: ^1.0.4
  http_parser: ^4.0.2
  dio: ^5.4.0+1
 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/placeholder.jpg
    - assets/images/

  # Pour les icônes si nécessaire
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic